body {
	font-family: Josefin Sans;
	color: #444;
	letter-spacing: 1px;
	background-image: url(resources/white_wall_hash.png);
}
h2 {
	font-weight: normal;
	text-align: center;
}
button:focus {
	outline: 0;
}
#wrapper {
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 5px 10px;
	width: 1000px;
	margin: 100px auto;
	padding: 70px;
	border-radius: 10px;
	border: 1px solid;
}
#banner {
	padding: 10px 0;
	margin-bottom: 0px;
}
#banner h1,
#banner p {
	width: 100%;
	text-align: center;
	margin: 0px;
	letter-spacing: 2px;
	font-family: Josefin Sans;
}
#add {
	text-align: center;
	margin: 30px;
	margin-bottom: 60px;
}
#searchbtn {
	color: #000;
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
	font-size: 1.3em;
	opacity: 0.8;
}
.likebutton {
	background-color: transparent;
	color: #CF0A2C;
	border: none;
	font-size: 1.3em;
	margin-top: 20px;
	opacity: 1;
}
.likebutton:active {
	transform: scale(1.2, 1.2);
	transition: 0.3s;
}
#add button:hover {
	opacity: 1;
}
#add button:active {
	transform: scale(1.2, 1.2);
}
.searchresult {
	display: none;
}
#results {
	display: flex;
	flex-flow: row wrap;
	margin-bottom: 40px;
}
#results > div {
	flex: 1 1 370px;
	margin: 10px;
	-webkit-animation: fadein 1.5s;
	animation: fadein 1.5s;
}
@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.9;
	}
}
#results > div > img {
	width: 110px;
	height: 160px;
	overflow: hidden;
	margin-right: 15px;
}
#results > div > p {
	font-size: 0.75em;
}
#results > div > span {
	font-size: 0.9em;
}
.books h3 {
	margin: 3px auto 10px
}
#mylist {
	-webkit-animation: fadein 2.5s;
	animation: fadein 2.5s;
}
@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.9;
	}
}
#list {
	margin: 0px;
}
#list ul {
	list-style-type: none;
	padding: 0;
	text-align: center;
	margin-left: -10px;
}
#list li {
	background-color: #F6F6F6;
	text-align: left;
	padding: 20px;
	border: 2p solid #333;
	width: 440px;
	margin: 10px;
	height: 140px;
	font-size: 0.8em;
	display: inline-block;
	-webkit-animation: fadein 1.5s;
	animation: fadein 1.5s;
}
@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.9;
	}
}
#list li h3 {
	font-size: 1.4em;
	margin: 3px auto 10px
}
#empty {
	text-align: center;
}
.name {
	display: block;
	margin-bottom: 10px;
}
.delete {
	background-color: transparent;
	color: #CF0A2C;
	border: none;
	font-size: 1.7em;
	margin-top: 20px;
	opacity: 1;
}
.delete:active {
    transform: scale(1.2, 1.2);
} 
#add input {
	font-family: Josefin Sans;
	font-size: 1em;
	margin: 100px auto;
	width: 180px;
	margin: 0 auto;
	padding: 2px;
	outline: none;
}
#viewBtn {
	display: none;
	font-family: Josefin Sans;
	font-size: 1em;
	border: none;
	background: #222831;
	padding: 6px;
	border-radius: 5px;
	cursor: pointer;
	width: 110px;
	color: white;
	margin: 0 auto;
	letter-spacing: 1px;
}
#viewBtn:hover {
	background: #DDDDDD;
	transition: 0.3s;
}
#result {
	font-size: 0.9em;
	text-align: center;
	width: 100%;
	height: auto;
}
#result.error {
	position: fixed;
	top: 180px;
	right: 40px;
	width: 320px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	background-color: #fff;
	border: 5px solid #444;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
#result.error::before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
	top: 100px;
	border: 22px solid;
	border-color: #444 transparent transparent #444;
}
#result.error::after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 38px;
	top: 100px;
	border: 15px solid;
	border-color: #fff transparent transparent #fff;
}